.duan__item {
    position: relative;
}

.duan__item:hover .duan__watermask {
    display: flex;
    width: 100%;
    height: 100%;
}

.duan__watermask {
    display: none;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}